@import "~@fluentui/react/dist/sass/References.scss";

.cards__container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-right: 15px;
  margin-left: 0px;
  width: 100%;
  justify-content: center;
}
.card {
  height: 130px;
  margin-bottom: 18px;
  align-items: center;
  &:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  }
}

.curso_pointer {
  cursor: pointer;
}

.bg_1 {
  border-radius: 16px;
  background: linear-gradient(102deg, #963cbd 2.01%, #f4364c 96.41%);
}

.bg_2 {
  border-radius: 16px;
  background: linear-gradient(289deg, #963cbd 3.37%, #3cfe90 100%);
}

.bg_3 {
  border-radius: 16px;
  background: linear-gradient(289deg, #963cbd 3.41%, #ff832a 68.31%);
}

.bg_4 {
  border-radius: 16px;
  background: linear-gradient(288deg, #783cbd 2.25%, #04d6ff 100%);
}

.default {
  border-radius: 16px;
  background: linear-gradient(288deg, #783cbd 2.25%, #04d6ff 100%);
}
.link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
